*{
    margin: map-get($remSizes, zero);
    padding: map-get($remSizes, zero);
    font-family: 'Oswald', sans-serif;
}

main{
    padding-top: map-get($remSizes, two);
}

img{
    padding:  map-get($remSizes, zero) map-get($remSizes, two);
}

ul{
    @extend %flexrowCenterCenter;
    list-style: none;
    gap: map-get($remSizes, one);

    @include thousand{
        padding: map-get($remSizes, zero);
        margin: map-get($remSizes, zero);
    }
}

h1{
    font-size: map-get($remSizes, three);
}

h5{
    font-size: map-get($vhSizes, four);
    font-weight: bold;
}

p{
    text-align: center;
    font-size: map-get($vhSizes, three);

    @include thousand{
        font-size: map-get($remSizes, one);
    }
}