$remSizes: (
    "zero": 0rem,
    "one": 1rem,
    "two": 2rem,
    "four": 4rem,
    "eight": 8rem,
    "ten": 10rem
);

$vhSizes: (
    "two": 2vh,
    "four": 4vh,
    "eight": 8vh,
    "fifteen": 15vh
);

$screenSizes: (
    "seven-hundred": 700px,
    "thousand": 1000px
);