.about-us-list{
    padding-top: map-get($remSizes, ten);

    @include thousand{
        padding-top: map-get($remSizes, zero);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.about-us-item{
    text-align: center;
}