.icon{
    width: 15%;

    @include thousand{
        width: 30%;
    }

    @include five-hundred{
        width: 50%;
    }
}

.carousel{
    margin-top: 10%;
}

.carousel-indicators{
    position: fixed;
    bottom: 15%;

    @include thousand{
        position: fixed;
        bottom: 10%;
    }
    
}

.carousel-indicators button{
    filter: invert(100%);
}
