.icon{
    width: 10%;

    @include thousand{
        width: 30%;
    }

    @include five-hundred{
        width: 50%;
    }
}

.carousel{
    margin-top: 5%;
}

.carousel-indicators{
    position: relative;
}

.carousel-indicators button{
    filter: invert(100%);
}

.carousel button{
    filter: invert(100%);
}
